<!DOCTYPE html>
<html>
  <head>
    <title>Ocean - Authenticate</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>
      <a href="https://github.com/login/oauth/authorize?scope=user:email&client_id=<%= client_id %>">Connect with Github!</a>
    </p>
  </body>
</html>
